.card {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 0.25rem;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
  background-color: white;
  cursor: pointer;
  transform-style: preserve-3d;
  transition: 150ms;
  font-size: 18px;
  transform: perspective(5000px) rotateY(var(--rotate-y, 0))
    translateY(var(--translate-y, 0));

  &:hover {
    --translate-y: -2px;
    box-shadow: 0 0 10px 5px rgba(#101010, 0.3);
  }

  .front {
    left: 0;
  }

  .flashcard-options {
    margin-top: 8px;

    .flashcard-option {
      margin-top: 4px;
      color: #555;
      font-size: 14px;
    }
  }
}

.front,
.back {
  position: absolute;
  padding: 1rem;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}

.flip {
  --rotate-y: 180deg;
}
