.header {
  background: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-left: 30px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
  select {
    margin-right: 30px;
    width: 30%;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    option {
      border: none;
    }
  }
}
