.header {
  background: #fff;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h1 {
    margin-left: 30px;
    font-size: 40px;

    font-family: "Dancing Script", cursive;
  }
  select {
    margin-right: 30px;
    width: 30%;
    height: 30px;
    font-family: "Dancing Script", cursive;
    font-size: 25px;
    border: none;
    cursor: pointer;
    &:focus {
      outline: none;
    }
    option {
      border: none;
    }
  }
}
